{
    "plugins": [
        [
           "module-resolver",
           {
            "cwd": "babelrc",
            "root": [
                "./src"
            ],
            "extensions": [
                ".js",
                ".jsx",
                ".tsx",
                ".ios.js",
                ".android.js"
            ],
            "alias": {
                "_assets": "./assets",
                "_theme": "./src/theme",
                "_features": "./src/features",
                "_components": "./src/ui-lib",
                "_atoms": "./src/ui-lib/components/atoms",
                "_molecules": "./src/ui-lib/components/molecules",
                "_organisms": "./src/ui-lib/components/organisms",
                "_templates": "./src/ui-lib/components/templates"
                
                
            }
        }
        ]
    ]
}